<nav>
  <ul class="nav-top admin">
    <li class="nav-top-main"><%= link_to t('.admin_panel'), root_path %></li>
    <li><%= link_to 'Tests', admin_tests_path %></li>
    <li><%= link_to t('shared.nav.logout'), destroy_user_session_path, method: :delete %></li>
    <li class="nav-top-info"><%= t('.welcome_admin', user: current_user.email) %></li>
  </ul>
</nav>
<hr>
