<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.question') %></th>
      <th><%= t('.gist_id') %></th>
      <th><%= t('.user') %></th>
    </tr>
  </thead>
  <%= render @gists %>
</table>
