<h1><%= t('.header', title: @test_passage.test.title) %></h1>
  
<% if @test_passage.passed? %>
  <p class="test_passed"><%= t('.passed', persent: @test_passage.correct_percent) %></p>
<% else %>
  <p class="test_failed"><%= t('.failed', persent: @test_passage.correct_percent) %></p>  
<% end %>
