<footer>
  <hr>
  <div>Copyright <%= current_year %></div>
  <div><%= github_url 'Denis Park', 'https://github.com/des1991' %></div>
  <div>TestGuru - online test service.</div>
  <div><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
                  'http://thinknetica.com/', target: '_blank' %></div>
</footer>
