<% if resource.present? && resource.errors.any? %>
  <div>Errors: <%= resource.errors.count %></div>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
