<h1>Tests</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Author</th>
    <th>Size</th>
    <th>Action</th>
  </tr>
  <%= render @tests %>
</table>
